body {
    width: 600px;
    margin: 0 auto;
}

.lang-option {
    width: 85px;
    height: 30px;
    font-size: 12px;
    margin-left: 560px;
    margin-top: 30px;
    padding-left: 3px;
}

.logo > img{
    width: 250px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login_form > div > input{
    width: 450px;
    height: 28px;
    font-size: 14px;
    padding: 8px;
}
.login_form > div{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
.login_form .password {
    margin-top: 10px;
}
.login_form .login-button > button{
    width: 473px;
    height: 60px;
    margin-top: 15px;
    background-color: #03c75a;
    border: solid 1px rgba(0,0,0,.1);
    color: white;
    font-weight: 850;
    font-size: 15px;
}
.stay .stay-login {
    margin-left: 63px;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
}
hr {
    width: 475px;

}
.easy-login{
    text-align: center;
    margin-top: 40px;
}
.easy-login .easy-login-button button{
    width: 240px;
    height: 55px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #03c75a;
}
.find-imfor > p{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.imformation > p{
    text-align: center;
    margin-top: 300px;
    font-size: 13px;
}
.stay .stay-login > input{
    width: 20px;
    height: 20px;
}
.login_form .username > input:focus , .password > input:focus{
    outline: 1px solid #03c75a;
} 